@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300&family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Ubuntu:wght@700&display=swap');
.addExercise{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
.main{
    width: 80%;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 10px 1px rgba(255,255,255,0.42);
    -webkit-box-shadow: 1px 3px 10px 1px rgba(255,255,255,0.42);
    -moz-box-shadow: 1px 3px 10px 1px rgba(255,255,255,0.42);
}
.exercise-form>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formItem{
    margin-top: 5px;
    
}
.formItem>label{
    margin-right: 10px;
    font-weight: 600;
}
.formItem>select,input{
    padding: 3px;
    font-size: 13px;
}

.buttons{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
}
.continue-workout-button{
    flex: 1;
    background-color: rgb(43, 151, 187);
    color: white;
    border: none;
    padding: 7px 10px;
}
.continue-workout-button:focus{
    outline: none;
}

.new-workout-button{
    flex: 1;
    background-color: green;
    color: white;
    border: none;
    padding: 7px 10px;
}
.new-workout-button:focus{
    outline: none;
}